footer {
    background-color: var(--footer-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--bg-color)
}

footer > div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer > div > span {
    padding-top: 2%;
    padding-bottom: 2%;
}

footer > img {
    width: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
}