header {
    position: fixed;
    top: 1%;
    left: 30%;
    width: 40%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}

header > nav > ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 0;
}

header > nav > ul > li {
    list-style-type: none;
    padding: 2%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
}

header > nav > ul > li > a {
    text-decoration: none;
}

header > nav > ul > li > a:hover {
    color: var(--bg-color);
    transition: 0.2s;
}

a:visited {
    color: var(--main-text-color)
}