@import "header.css";
@import "footer.css";

:root {
    --bg-color: #EAE0D5;
    --secondary-bg-color: #22333B;
    --main-text-color: #0A0908;
    --secondary-text-color: #EAE0D5;
    --footer-color: #5E503F;
    --button-color: #C6AC8F;
    --section-color-1: #D9D9D9;
    --section-color-2: #22333B;
    --card-color: #D9D9D9;
}

* {
    margin: 0;
    font-family: sans-serif ;
}

body {
    background-color: var(--bg-color);
}

#index-main-section {
    background-image: url("../images/man_writing.png");
    height: 50em;
}

#apercu-main-section {
    background-image: url("../images/apercu_top.png");
    height: 50em;
}

#mise-en-place-main-section {
    background-image: url("../images/mise_en_place_top.png");
    height: 50em;
}

#equipe-main-section {
    background-image: url("../images/equipe_top.jpeg");
    height: 50em;
}

.auto-resized-full-width-img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

h1 {
    display: inline;
    position: relative;
    top: -1%;
}

.logo-main-section {
    position: relative;
    display: inline;
    width: 68px;
    height: 68px;
    border-radius: 50px;
    top: 2%;
    left: 1.0%;
}

section:last-of-type {
    margin-bottom: 3%;
}

.section-3-column div {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 3%;
    margin-right: 3%;
}

.section-3-column div > * {
    margin-left: 2%;
    margin-right: 2%;
}
.section-3-column h2 {
    position: relative;
    text-align: center;
}

.section-3-column img {
    height: 10em;
}

.section-theme-1 {
    background-color: var(--section-color-1);
    color: var(--main-text-color);
    padding-bottom: 2%;
}

.section-theme-1 h2{
    font-size: 36px;
    color: var(--main-text-color);
    margin-top: 2%;
    padding-top: 1%;
    margin-bottom: 1%;
}

.section-theme-1 p{
    font-size: 24px;
    color: var(--main-text-color);
}

.section-theme-2 {
    background-color: var(--section-color-2);
    color: var(--secondary-text-color);
    padding-bottom: 2%;
}

.section-theme-2 h2{
    font-size: 36px;
    color: var(--secondary-text-color);
    margin-top: 2%;
    padding-top: 1%;
    margin-bottom: 1%;
}

.section-theme-2 p{
    font-size: 24px;
    color: var(--main-text-color);
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    min-height: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
}
.cards-wrapper > div {
    display: flex;
    background-color: var(--card-color);
    flex-basis: calc(50% - 10%);
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 17px;
    margin: 1%;
}

.cards-wrapper a{
    font-size: 25px;
    color: var(--main-text-color);
    padding-top: 3%;
    margin-bottom: 7%;
}
.cards-wrapper img{
    width: 65%;
    height: 65%;
    padding-bottom: 10%;
}
